apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: all
      spec:
        template:
          spec:
            tolerations:
              - key: CriticalAddonsOnly
                operator: Exists
            nodeSelector:
              node-role: system
    target:
      kind: Deployment
      namespace: flux-system
