apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secrets-manager
  target:
    name: grafana-admin
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: ${cluster_name}/grafana-admin
        property: username
    - secretKey: password
      remoteRef:
        key: ${cluster_name}/grafana-admin
        property: password
