apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 10m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "70.*"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 12h
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    fullnameOverride: prometheus

    prometheus:
      prometheusSpec:
        replicas: 1
        retention: 7d
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: gp3
              accessModes: [ReadWriteOnce]
              resources:
                requests:
                  storage: 50Gi

    alertmanager:
      alertmanagerSpec:
        replicas: 1
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: gp3
              accessModes: [ReadWriteOnce]
              resources:
                requests:
                  storage: 10Gi

    grafana:
      replicas: 1
      persistence:
        enabled: false
      admin:
        existingSecret: grafana-admin
        userKey: username
        passwordKey: password
      additionalDataSources:
        - name: Loki
          type: loki
          url: http://loki-gateway.monitoring.svc.cluster.local
          access: proxy
          isDefault: false

    nodeExporter:
      enabled: true

    kubeStateMetrics:
      enabled: true

    prometheusOperator:
      admissionWebhooks:
        patch:
          enabled: true
